@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video, content {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(../img/brown174.jpg);

}

/* new clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* for IE/Mac */

.clearfix {
    zoom: 1; /* triggers hasLayout */
    display: block; /* resets display for IE/Win */
}

/* Only IE can see inside the conditional comment
  and read this CSS rule. Don't ever use a normal HTML
  comment inside the CC or it will close prematurely. */

#wrapper {
    background-color: #EDDAA3;
    margin: 20px auto;
    width: 900px;
    min-height: 600px;
    -webkit-box-shadow: 0px 4px 7px 2px #333;
    -moz-box-shadow: 0px 4px 7px 2px #333;
    box-shadow: 0px 4px 7px 2px #333;
    /*border: solid 1px red;*/

}

#header {
    width: 885px;
    height: 188px;
    position: relative;
    position: relative;
    background-color: #fff;

}

#logo {
    width: 241px;
    height: 170px;
    margin-left: 5px;
    margin-top: 3px;
    float: left;
}

#tree {
    width: 200px;
    position: absolute;
    top: 0px;
    right: -15px;
    height: 188px;

}

/* Navigation */
#nav {
    width: 375px;
    min-height: 25px;
    background-color: #fff;
    /*border: solid 1px purple;*/
    margin-left: 330px;
    position: absolute;
    bottom: 0px;
}

.myMenu {
    margin: 0;
    padding: 0;
}

.myMenu li {
    list-style: none;
    float: left;
    font-family: 'OratorStdRegular', Arial, sans-serif;
    font-size: 20px;
}

.myMenu li a:link, .myMenu li a:visited {
    display: block;
    text-decoration: none;
    background-color: #fff;
    padding: 13px 15px 3px 15px;
    margin: 0;
    color: #000;
}

.myMenu li a:hover {
    background-color: #EDDAA3;
}

.myMenu li a:active {
    background-color: #fff;
}

/*style the sub menu*/
.myMenu li ul {
    position: absolute;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    z-index: 99999999999999999999999999;
    background-color: #fff;
    border-right: solid 1px #cc9933;
    border-left: solid 1px #cc9933;
}

.myMenu li ul li {
    display: inline;
    float: none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
    background-color: #fff;
    width: 104px;
    font-size: 14px;
    padding: 13px 5px 5px 5px;
}

.myMenu li ul li a:hover {
    background-color: #EDDAA3;
}

.myMenu li ul li a:active {
    background-color: #fff;
}

/*MAIN PAGE*/

#main {
    width: 885px;
    padding-top: 50px;
    min-height: 600px;
    border-right: 15px solid #cc9933;
}

#main h3 {
    font-family: 'OratorStdRegular', Arial, sans-serif;

    margin-left: 100px;
    color: #000;
}

#main h2 {
    font-family: 'OratorStdRegular', Arial, sans-serif;
    text-align: center;
    color: #cc9933;
}

/*STUFF FOR INDEX PAGE*/

.mainimg {
    -webkit-box-shadow: 0px 3px 7px 2px #523D00;
    -moz-box-shadow: 0px 3px 7px 2px #523D00;
    box-shadow: 0px 3px 7px 2px #523D00;
    height: 525px;
}

.mainimg, .maintext {
    margin: 0 auto;
    width: 700px;
}

.maintext p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #000;
    line-height: 20px;

}

.maintext a {
    text-decoration: none;
    color: #cc9933;
}

.maintext a:hover {
    text-decoration: underline;
}

.credit {
    width: 885px;
    height: 40px;
    margin: 0px auto;
    border-right: 15px solid #cc9933;

}

.credit p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 10px;
    font-style: italic;
    float: right;
    margin-right: 90px;

}

.slideshowtext {
    width: 685px;
    margin: 0 auto;
}

.slideshowtext p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #000;
    line-height: 20px;

}

/*STUFF FOR ABOUT PAGE*/

#main #about_images {
    width: 700px;
    min-height: 235px;
    margin: 0 auto;
    /*border: solid 1px orange;*/

}

#main #about_images ul {
    width: 100%;
    padding-top: 10px;
    /*border: solid 1px green;*/

}

#main #about_images ul li.aboutimg {
    width: 200px;
    height: 200px;
    margin-left: 22px;
    /*border: solid 1px blue;*/
    float: left;
    list-style-type: none;
    -webkit-box-shadow: 0px 3px 7px 2px #523D00;
    -moz-box-shadow: 0px 3px 7px 2px #523D00;
    box-shadow: 0px 3px 7px 2px #523D00;

}

#main .abouttext {
    width: 650px;
    /*border: solid 1px red;*/
    margin: 0 auto;

}

#main .abouttext p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding-top: 10px;
    color: #000;
    line-height: 20px;

}

/**********************
FORM STUFF // CONTACT
**********************/
#map {
    float: right;
    margin-top: 20px;
}

#map a:link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #cc9933;
    text-align: left;
}

#map a:visited {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #cc9933;
}

#map a:hover {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: #cc9933;
}

form {
    padding: 20px;
    width: 400px;
    margin: 0px auto;
    clear: both;
    /*border: solid 1px #fff;*/
}

form, form fieldset input, form fieldset textarea, form label {
    font-family: Helvetica, Arial;
    font-size: 12pt;
}

form li {
    position: relative;
    margin: 10px 0;
    list-style-type: none;
}

form li label {
    position: absolute;
    top: 0;
    left: 0;
}

form li br {
    display: none;
}

form fieldset li input,
form fieldset li textarea {
    display: block;
    padding: 4px;
    width: 435px;
    margin: 0;
}

form fieldset li label {
    width: 380px;
    display: block;
    margin: 5px 5px 5px 6px;
    padding: 0;
}

form p label {
    width: 200px;
    display: inline-block;

}

form fieldset li textarea {
    padding: 2px;
    width: 439px;
}

form fieldset li textarea,
form fieldset li input {
    border: solid 1px #ccc;
}

form fieldset li label {
    color: #777;
}

#info {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    width: 435px;
    margin-left: 243px;
    /*border: solid 1px red;*/

}

#info ul {
    margin-top: 20px;
}

#info li {
    list-style: none;
    padding-bottom: 8px;
}

#info h2 {
    font-family: 'OratorStdRegular', Arial, sans-serif;
    color: #cc9933;
    margin: 0px;
    padding: 0px;
}

/*************************
GALLERY STUFF
**************************/

#gallerythumbs {
    /*border: solid 1px red;*/
    width: 800px;
    height: 250px;
    margin-left: 40px;
    margin-top: 25px;

}

#gallerythumbs li {
    /*border: solid 1px blue;*/
    width: 230px;
    height: 230px;
    float: left;
    list-style-type: none;
    margin-left: 30px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 3px 7px 2px #523D00;
    -moz-box-shadow: 0px 3px 7px 2px #523D00;
    box-shadow: 0px 3px 7px 2px #523D00;

}

#gallerythumbs li a {
    text-decoration: none;
    font-family: 'OratorStdRegular', Arial, sans-serif;
    color: #333;
}

/********************
FOOTER STUFF
*******************/
#footer {
    width: 100%;
    height: 30px;
    background-color: #cc9933;
    color: #fff;
    clear: right;

}

#footer ul {
    width: 525px;
    margin: 0 auto;
    padding: 6px;
    /*border: solid 1px red;*/

}

#footer li {
    list-style: none;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    margin-left: 15px;

}

#footer a {
    text-decoration: none;
    color: #000;

}

/*****************
WILDCARDS
*******************/

.active {
    background-color: #EDDAA3;
}

.border-right-gold {
    border-right: solid 1px #cc9933;
}

.border-left-gold {
    border-left: solid 1px #cc9933;
}


